@import "../../assets/css/colors";

.overview{
  padding: 10px;

  .main{
    display: flex;
    justify-content: space-around;

    .posts{
      width: 80%;
    }

    .pager{
      display: flex;
      justify-content: space-between;

      a{
        margin: 5px;
        border-radius: 15px;
        padding: 5px 15px;
        background: none;
        border: 1px solid #ddd;
        color: $linkColor;

      }

      a:hover{
        opacity: 0.5;
      }

      .disabled{
        pointer-events: none;
        cursor: default;
        color: #dddddd;
      }
    }
  }
}
