@import '../../assets/css/colors.scss';

.fliters{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;

    .list-group-item{

        &.active{
            background: $actionColor;
            border: none;
            text-shadow: none;
            .badge{
                color: $actionColor;
            }
        }
    
    }
}