@import '../../assets/css/colors.scss';

.navbar{
  background-image: linear-gradient(rgb(60, 60, 60) 0px, rgb(34, 34, 34) 100%);
  background-repeat: repeat-x;
  color: $navFontColor;
  border-radius: 0px;

  .nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    li{
      margin: 10px;

      a{
        color: $navFontColor;

        &.active{
          color: $fontColor;
        }
      }
    }
  }
}
